.show_1,
.show_2,
.show_3,
.show_4 {
    display: none;
}

.h3_pil_ned {
    background-image: url(../svg/huset_pil.svg);
    background-size: 100% 100%;
    width: 10px;
    height: 10px;
}

@media screen and (min-width: 1000px) {
    .show_1,
    .show_2,
    .show_3,
    .show_4 {
        display: block;
    }

    .h3_pil_ned {
        display: none;
    }
}

;
