* {box-sizing:border-box}


h3{

color: #b74040;
font-family: "", sans-serif;
font-weight: 900;
text-transform: uppercase;
font-size: 1.5em;
padding-left: 15px;
margin: 0;

}

h4{

color: white;
font-family: sans-serif;
font-weight: 200;
text-transform: uppercase;
font-size: 1em;
padding-left: 15px;
margin: 0;

}

main p{

    font-family: "Nunito", sans-serif;
    font-weight: 300;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    line-height: 20px;


}



body{

    background-color: #262121;
  overflow-x: hidden;
  overflow-y: scroll;


}

.site_content_wrapper {
    padding: 0px;
}
.site_content_container{

    padding: 0px;
}
.slideshow{

}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/*Slide content------------------------------*/

.slide_content_con{

    display: grid;
    width: 100vw;
    height:100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
   grid-template-columns: 1fr minmax(50px, 800px) 1fr;
;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:


        "t t t t t t t t"
        ". . . . . t t t"
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."


        ;
}

.gradient_fade{

grid-column: 1/4 ;
grid-row: 6/14 ;
z-index: 2;
background-image: linear-gradient(rgba(0, 0, 0, 0.7), #262121);

}
.slide_img_con{

    z-index: 1;

grid-column: 1/4 ;
grid-row: 1/13;

    width: 100%;
    height: 100%;

}
/*slide tekst-------------------------------------------------*/

.text_con{
  z-index: 3;
border-bottom: 1px solid rgba(128, 128, 128, 0.1);
grid-column: 2/3 ;
grid-row: 6/13 ;
    color: white;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:

        "t t t t t t t t"
        "l l l l l l l l"
        "p p p p p p p p"
        "p p p p p p p p"
        "p p p p p p p p"
        "p p p p p p p p"
        "p p p p p p p p"
        ". . . . . . . ."
        ". . . . . b b b"

}

.slide_txt{
    grid-area: p;


}
.slide_txt p{

}
.slide_header{
    grid-area: t;
    align-self: flex-end;
}

.slide_tagline{

    grid-area: l;

}

.slide_knap{

    grid-area: b;

    width: 100%;
    height: 100%;




}


.slide_knap button{
    width: 100%;
    height: 100%;
    background-color: rgb(252, 229, 241, 0.8);
    color: white;
    border: 1px solid white;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-family: "AvenirNext";
}


.slide_knap button:hover{
     cursor: pointer;
    background-color: rgb(221, 7, 42, 0.68);
}

.slide_tekst_1{}
.slide_tekst_2{}
.slide_tekst_3{}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(111, 47, 47, 0.45);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}



/*-----------------------------------------------------------------------------------------------------------------------------------------KOMMENDE EVENTS--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.kommende_events{

margin-top: 50px;
background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(252, 223, 236, 0.37));


}
.kommende_events_header{



}

.kommende_events_tagline{


}

.kommende_events_text p{

}
.kommende_event_knap{


   background-color: rgb(252, 229, 241, 0.8);
    color: white;
    border: 1px solid white;
    text-align: center;
    text-align: left;
    float: right;

    padding: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-right: 15px;



}

.kommende_event_knap:hover{

    cursor: pointer;
    background-color: rgb(221, 7, 42, 0.68);
}

.event_pil_right{

    background-image: url(../svg/huset_pil.svg);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    float: right;
    transform: rotate(-90deg);
    margin-left: 5px;
}

.kommende_event_knap button{

    font-family: "huset";
    text-transform: uppercase;
    font-size: 1em;


}



.kommende_events_con{}
::-webkit-scrollbar{

    width: 2px;
}


::-webkit-scrollbar-thumb {

    border-radius: 50%;
    background-color: rgb(221, 7, 42, 0.68);

}

.kalender_wrapper{

        width: 100%;

border: 1px solid black;
        height: 308px;
    overflow: hidden;


}

.kalender_container{

    width: 100%;
    height: 322px;
    padding: 0;
    overflow: scroll;
}

.event_kalender{
display: grid;
grid-template-columns: 1fr;
}

.event_con{
    border: solid #373737 1px;
    display: grid;
    grid-template-columns: 100px 3fr;
    grid-template-rows: 100px;

    grid-template-areas:
        "img txt"
}
.event_info_con{

    color: white;
    background-color: #0f0f0f;
    grid-area: txt;
    width: 100%;

    font-size: .81em;
    font-family: "Nunito", sans-serif;

    display: grid;
    grid-template-columns: 5px repeat(10, 1fr) 5px;
    grid-template-rows: 5px repeat(10, 1fr) 5px;
    grid-template-areas:

        ". . . . . . . . . . . ."
        ". d d d d d . k k k k ."
        ". d d d d d . k k k k ."
        ". g g g g g . v v v v ."
        ". . . . . . . . . . . ."
        ". t t t t t . . . . . ."
        ". t t t t t . . . . . ."
        ". t t t t t . p p p p ."
        ". t t t t t . z z z z ."
        ". t t t t t . z z z z ."
        ". t t t t t . z z z z ."
        ". . . . . . . . . . . ."

        ;


}

.event_image_con{
grid-area: img;

}

.dato_con{
    grid-area: d;
    display: flex;
}

.dag{

    font-family: "huset";
    font-size: 1.2em;
}
.maaned{
        font-weight: 600;
    font-size: .8em;
    margin-left: 2px;

}

.tid{

    grid-area: k;
    text-align: right;
}

.genre{

    grid-area: g;
    font-size: .5em;

}
.venue{
    font-size: .5em;
        text-align: right;

    grid-area: v;
}
.event_navn{
    grid-area: t;
    font-size: .9em;
    align-self: flex-end;
    line-height: 15px;
font-weight: 600;


}

.se_mere{}



.pris{     grid-area: p;

    text-align: right;
}

.knap_link{
        grid-area: z;

}

.kob_knap{
    background-color: rgb(252, 229, 241, 0.8);
    color: white;
    border: 1px solid white;
    text-align: center;
    width: 100%;
    height: 100%;
}

.kob_knap:hover{

    cursor: pointer;
    background-color: rgb(221, 7, 42, 0.68);
}

.event_image{
    width: 100%;
}

.grey_bg{}

/*-----------------------------------------------------------------------------------------------------------------------------------------KOMMENDE SLUT-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------FRIVILLIGT ARBEJD-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.frivilligt_arbejde{

    font-family: "", sans-serif;
    color: white;
    padding: 50px 0px 0px 0px ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(14, 95, 42, 0.72));

}

.f_a_con{}

.f_a_header{


}

.f_a_tagline{
}

.f_a_text p{

}

.f_a_knap{

  background-color: rgb(252, 229, 241, 0.8);
    border: 1px solid white;
    text-align: center;
    float: right;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.f_a_knap button{
        font-family: "AvenirNext", sans-serif;
    color: black;;
    font-size: 1em;

}

.f_a_video iframe{

    width: 100%;
    margin: 0px;
    padding: 0px;
}






/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (min-width: 800px) {

    .kalender_container{

    width: 100%;
    height: 622px;
    overflow: scroll;
}

.event_kalender{
display: grid;
grid-template-columns: 1fr;
}

.event_con{
    border: solid #373737 1px;
    display: grid;
    grid-template-columns: 200px 3fr;
    grid-template-rows: 200px;

    grid-template-areas:
        "img txt"
}
.event_info_con{

    color: white;
    background-color: #0f0f0f;
grid-area: txt;
    width: 100%;

    font-size: 1em;
    font-family: "Nunito", sans-serif;

    display: grid;
    grid-template-columns: 5px repeat(10, 1fr) 5px;
    grid-template-rows: 5px repeat(10, 1fr) 5px;
    grid-template-areas:

        ". . . . . . . . . . . ."
        ". d d d d d . k k k k ."
        ". d d d d d . k k k k ."
        ". g g g g g . v v v v ."
        ". . . . . . . . . . . ."
        ". t t t t t . . . . . ."
        ". t t t t t . . . . . ."
        ". t t t t t . p p p p ."
        ". t t t t t . z z z z ."
        ". t t t t t . z z z z ."
        ". t t t t t . z z z z ."
        ". . . . . . . . . . . ."

        ;


}

    .event_image_con{
grid-area: img;

}

.dato_con{
    grid-area: d;
    display: flex;
}

.dag{

    font-family: "huset";
    font-size: 1em;
}
.maaned{
        font-weight: 600;
    font-size: .8em;
    margin-left: 2px;

}

.tid{

    grid-area: k;
    text-align: right;
}

.genre{

    grid-area: g;
    font-size: .5em;

}
.venue{
    font-size: .5em;
        text-align: right;

    grid-area: v;
}
.event_navn{
    grid-area: t;
    font-size: .9em;
    align-self: flex-end;
    line-height: 1em;
font-weight: 600;


}

.se_mere{}



.pris{     grid-area: p;

    text-align: right;
}

.knap_link{
        grid-area: z;

}

.kob_knap{
    background-color: rgb(252, 229, 241, 0.8);
    color: white;
    border: 1px solid white;
    text-align: center;
    width: 100%;
    height: 100%;
}

.kob_knap:hover{

    cursor: pointer;
    background-color: rgb(221, 7, 42, 0.68);
}

.event_image{
    width: 100%;
}

.grey_bg{}

}




/*

@media screen and (min-width: 1000px) {


.slide_content_con{
border: solid red 1px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.slide_img_con{
border: solid 1px blue;

}

.text_con{
    padding: 20px;
   border: solid 1px blue;


    }
    .slideshow-container{
        border: solid 10px green;
        padding: 20px;
    }
*/



}


