    @font-face {
        font-family: "Huset";
        src: url(fonts/huset.otf);
    }

    #kontaktformular_container {
        width: 100%;
        background-color: lightgray;
        border: solid 1px grey;
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 40px;
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);

    }

    #kontaktformular_container form {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        display: grid;
        grid-template-columns: 20px 1fr 100px 1fr 20px;
        grid-template-rows: 5px 70px 1fr 50px repeat(3, 1fr) 60px 30px 20px;
        grid-template-areas: ". . . . ." ". title title title ." ". tekst tekst tekst ." ". navn . email ." ". besked besked besked ." ". besked besked besked ." ". besked besked besked ." ". send send send ." ". links links links ." ". . . . ." ". . . . ."
    }

    #kontaktformular_container input {
        border: none;
        border-bottom: 1px solid black;
        color: grey;
        padding: 0;
        font-size: 1.2em;
        font-family: sans-serif;
        width: 100%;
    }

    #kontaktformular_container textarea {
        grid-area: besked;
        border: none;
        font-size: 1.5em;
        background-color: rgba(222, 222, 222, 0.9);
    }

    #kontaktformular_container {
        background-color: rgba(222, 222, 222, 0.9);
    }

    #kontaktformular_container .navn_box {
        grid-area: navn;

    }

    #kontaktformular_container .email_box {
        grid-area: email;
    }

    #kontaktformular_container .send {
        color: white;
        grid-area: send;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #kontaktformular_container h3 {
        grid-area: title;
        font-family: "huset";
        font-size: 3em;
        align-self: center;
        text-align: center;
        font-weight: 300;
    }

    #kontaktformular_container p {
        grid-area: tekst;
        font-size: 1.4em;
    }

    #kontaktformular_container input[type=submit] {
        background-color: black;
        color: antiquewhite;
        cursor: pointer;
        border: 3px solid #434343;
    }

    #kontaktformular_container input[type=email]:focus {
        color: black;
    }

    #kontaktformular_container input[type=text]:focus {
        color: black;
    }


    #kontaktformular_container input[type=email]:hover {
        color: grey;
    }

    #kontaktformular_container input[type=text]:hover {
        color: grey;
    }

    #kontaktformular_container input[type=text] {
        background-color: rgba(222, 222, 222, 0.9);
        align-self: center;
    }

    #kontaktformular_container input[type=email] {
        background-color: rgba(222, 222, 222, 0.9);
        align-self: center;
    }

    #kontaktformular_container input[type=submit]:hover {
        background-color: #aa021e;
        border: 2px solid rgb(173, 56, 75);
    }

    #kontaktformular_container a {
        color: black;
        text-decoration: none;
        font-family: "Avenir";
        font-weight: 500;
        grid-area: links;
    }

    #kontaktformular_container a:hover {
        color: grey;
    }

    @media only screen and (max-width: 700px) {
        #kontaktformular_container {
            width: 100%;
        }
        #kontaktformular_container form {
            width: 100%;
            height: 100%;
            background-color: whitesmoke;
            display: grid;
            grid-template-columns: 20px 1fr 100px 1fr 20px;
            grid-template-rows: 5px 70px 1fr 50px repeat(2, 1fr) 60px 30px 20px;
            grid-template-areas: ". . . . ." ". title title title ." ". tekst tekst tekst ." ". navn . email ." ". besked besked besked ." ". besked besked besked ." ". send send send ." ". links links links ." ". . . . ." ". . . . ."
        }
    }
