




.splash_wrapper{
    width: 100%;
    height: 100px;
    overflow: visible;
    margin-bottom: 8vh;




}

.header_tag_container {
    position: relative;
    z-index: 50;
    border: solid;
    border-color: white;
   background:rgba(255,255,255, 0.2);
    top: 20%;
     margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;






}

.site_header_container{
    position: relative;
    z-index: 50;

    display: flex;
    justify-content: center;
    color: white;
    font-family: "Nunito";
    text-transform: uppercase;



}

.tag_line {

   display: flex;
    justify-content: center;
    position: relative;
    z-index: 50;
    color: white;
    font-family: "Nunito";
    text-transform: capitalize;
    border-bottom: solid;
    margin-left: 70px;
    margin-right: 70px;


}

.content_image{


    width: 100%;
    height: 160px;

    z-index: 2;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
position: absolute;


}

iframe{
    width: 100%;
}

.site_content_wrapper a{

    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: darkred;
    text-decoration: none;

}

.site_content_wrapper a:hover{

    color: #b74040;
}
.site_content_wrapper{

    display: grid;
    grid-template-columns: 1fr minmax(200px, 800px) 1fr;

}

.site_content_container{

    grid-column: 2/3;

    padding: 10px;

}

h3{
    font-family: sans-serif;
}

p{
    font-family: 'Roboto';

}

hr{

        border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

@media screen and (min-width: 1025px) {

    .content_image{


    width: 100%;
    height: 300px;

    z-index: 2;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
position: absolute;


}
}

@media screen and (min-width: 1000px) {

    .site_content_wrapper{

    display: grid;
    grid-template-columns: 1fr 800px 1fr;

}



}

