body{
    margin: 0 200px 0 200px;
    padding: 0;
    display: grid;

}

img{

    width: 100%;

}

section{
   font-family: sans-serif;
    padding: 100px;


}

h2, h3{

    text-transform: uppercase;
}

h2{
    font-size: 2em;

}
h3{
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: 900:

}

.tag_line{
    color: red;
    font-size: 1.9em;
}

p{
    padding: 10px;
}
