.content_image{

    width: 100%;
    border: solid 1px black;
}

iframe{
    width: 100%;
}

.site_content_wrapper{

    display: grid;
    grid-template-columns: 1fr minmax(200px, 800px) 1fr;

}

.site_content_container{

    grid-column: 2/3;

    padding: 10px;

}

h3{
    font-family: sans-serif;
}

p{
    font-family: 'Roboto';

}

hr{

        border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}



@media screen and (min-width: 1000px) {

    .site_content_wrapper{

    display: grid;
    grid-template-columns: 1fr 800px 1fr;

}

}

