:root{

    font-size: 60%;
}

body{
    margin: 0;
    padding: 0;
}

img {


    width:100%;
}

*{
/*    border: solid red 1px;*/
}

/*EVENT STYLE*/

.overskrift_events{
    font-family: "Huset";
    text-transform: uppercase;
    font-size: 6em;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*
.overskrift_pil{

    background-image: url(../svg/huset_pil.svg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}
*/



/*FILTER*/

.filter_wrapper{

    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". filter ."
}

.filter_con{
    grid-area: filter;

   display: flex;
    flex-direction:row;

}

.filter_title{
    text-align: center;
    font-family: "Huset";
    text-transform: uppercase;
    font-size: 3em;
    margin: 10px;
    display: flex;

}

.filter_pil{
    background-image: url(../svg/huset_pil.svg);
    background-size: 100% 100%;
    width: 10px;
    height: 10px;
}

/*SUB FILTER GENRE*/
.tema{

    background-color: #ebebeb;
    border-bottom: 1px solid black;
    padding: 5px;
}

.tema:hover{
    cursor: pointer;
}
.genre_block{
    display: none;
    position: absolute;
    z-index: 2;
    width: 100vw;
    font-family: "Huset";
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;

}


.genre_block ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.genre_block ul li{
    font-family: "AvenirNext";
    font-size: .4em;
    padding: 5px 0px 5px 0px;
}

.genre_block ul li:nth-child(even){

    background-color: #f8f8f8;
}


.genre_block ul li:nth-child(odd){

    background-color: white;
}

.tema_pil{

    float: left;
    background-image: url(../svg/huset_pil.svg);
    background-size: 100% 100%;
    width: 10px;
    height: 10px;

}

/*genre sub filter */
.musik_filter, .film_filter, .ord_filter, .scenekunst_filter, .andet_filter{

    display: none;
}
/*musik knap*/
.tema_musik:hover~.musik_filter{

display: block;
}

.musik_filter:hover{
    display: block;
}

/*Film knap*/
.tema_film:hover~.film_filter{

display: block;
}
.film_filter:hover{
    display: block;
}

/*Ord knap*/
.tema_ord:hover~.ord_filter{

display: block;
}
.ord_filter:hover{
    display: block;
}

/*Scenekunst knap*/
.tema_scenekunst:hover~.scenekunst_filter{

display: block;
}
.scenekunst_filter:hover{
    display: block;
}

/*Andet knap*/
.tema_andet:hover~.andet_filter{

display: block;
}
.andet_filter:hover{
    display: block;
}



/* VENUES sUB FILTER */
.venues_block{

    display: none;
    position: absolute;
    z-index: 2;
    width: 100vw;
    font-family: "AvenirNext";
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;


}
.venues_block ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.venues_block ul li:nth-child(even){
    background-color: white;
}


.venues_block ul li:nth-child(odd){

    background-color: #f8f8f8;
}



.venues_block ul li{

    padding: 5px;

}


.show{
    display: block;
}

/*EVENT KALENDER*/
.event_kalender{


    display: grid;
    grid-gap: 1px;
    height: 1000px;
    overflow: scroll;
    text-align: center;


}

.event_con{

    background-color: black;
 width: 100vw;
height: 100vw;
color: white;
font-family: "Avenir";
    display: grid;
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-template-rows: 10px repeat(6, 1fr) 10px;
    grid-template-areas:

         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."

}



.event_image{

    grid-column: 1/9;
    grid-row: 1/9;

}
.grey_bg{

  background-image: linear-gradient(to bottom, #241717, #000000);
    opacity: 0.5;
    grid-column: 1/9;
    grid-row: 1/9;

}

.dato_con{

    grid-column: 2/4;
    grid-row: 2/3 ;

    display: flex;
    z-index: 1;
}

.dag{
    text-align: left;
    font-family: "HUSET";
    font-size:6rem;
     z-index: 1;

}
.maaned{

    align-self:flex-end;
    font-size: 2rem;
     z-index: 1;


}
.tid{
    text-align:right;
    align-self: flex-end;
    text-transform: capitalize;
    font-size: 2rem;
    grid-column: 6/8;
    grid-row: 2/3 ;
     z-index: 1;
}


.genre{
    text-align: left;
    z-index: 1;
    font-size: 1rem;
    grid-column: 2/5;
    grid-row: 3/4;


}

.event_navn{

    font-family: "Portrait";
    align-self: center;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 2.5rem;
    grid-column: 2/8;
    grid-row: 4/6;

     z-index: 1;
}


.venue{
    text-align: right;
   font-size: 1rem;
    grid-column: 5/8;
    grid-row: 3/4;
     z-index: 1;
}
.se_mere{

    text-align: left;
    align-self: flex-end;
    text-decoration: underline;
    font-size: 2rem;
    grid-column: 2/8;
    grid-row: 6/7;

     z-index: 1;

}

.pris{
    text-align: left;
    align-self: flex-end;
    font-size: 2rem;
    grid-column: 2/4;
    grid-row: 7/8;
     z-index: 1;
}
.knap_link{
    z-index: 1;
    grid-column: 6/8;
    grid-row: 7/8;

}
.kob_knap{

    border-radius: 5px;
    border: solid 1px white;
    font-family: "AvenirNext";
    background-color: rgba(223, 242, 253, 0.04);
    color: white;
    z-index: 1;

    width: 100%;
    height: 100%;
    font-size: 1.5rem;

}

.kob_knap:hover{
        border: solid 1px rgba(223, 242, 253, 0.68);

    background-color: rgba(223, 242, 253, 0.68);
    color: black;
    cursor: pointer;


}








/*MEDIA QUERIES*/

@media screen and (min-width: 700px) {


    :root{


    }

    .event_kalender{

        grid-template-columns: 1fr 1fr;
    }
    .event_con{

        width: 50vw;
        height: 50vw;
    }

}


@media screen and (min-width: 1000px) {


    :root{


    }

    .event_kalender{

        grid-template-columns: 1fr 1fr 1fr;
    }
    .event_con{

        width: 33.3vw;
        height: 33.3vw;
    }

}

@media screen and (min-width: 1200px) {

    .kalender_container{

        width: 100%;
         display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: auto;


    }


    :root{

        font-size: 50%;
    }

    .event_kalender{

        grid-column: 2/3;

        max-width: 1240px;
        align-self: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;


    }
    .event_con{

        width: 310px;
        height: 310px;
    }

}

