:root{

    font-size: 60%;
}

body{
    margin: 0;
    padding: 0;
}

img {


    width:100%;
}

*{
/*    border: solid red 1px;*/
}

/*EVENT STYLE*/

.overskrift_events{
    font-family: "Huset";
    text-transform: uppercase;
    font-size: 6em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.overskrift_pil{

}


.event_kalender{


    display: grid;
    grid-gap: 1px;


}

.event_con{

    background-color: black;
 width: 100vw;
height: 100vw;
color: white;
font-family: "Avenir";
    display: grid;
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-template-rows: 10px repeat(6, 1fr) 10px;
    grid-template-areas:

         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."
         ". . . . . . . ."

}



.event_image{

    grid-column: 1/9;
    grid-row: 1/9;

}
.grey_bg{

  background-image: linear-gradient(to bottom, #241717, #000000);
    opacity: 0.5;
    grid-column: 1/9;
    grid-row: 1/9;

}

.dato_con{

    grid-column: 2/4;
    grid-row: 2/3 ;

    display: flex;
    z-index: 1;
}

.dag{

    font-family: "HUSET";
    font-size:6rem;
     z-index: 1;

}
.maaned{

    align-self:flex-end;
    font-size: 3rem;
     z-index: 1;


}
.tid{
    text-align:right;
    text-transform: capitalize;
    font-size: 3rem;
    grid-column: 6/8;
    grid-row: 2/3 ;
     z-index: 1;
}


.genre{
    z-index: 1;
    font-size: 2rem;
    grid-column: 2/4;
    grid-row: 3/4;


}

.event_navn{

    font-family: "Portrait";
    align-self: center;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 3.4rem;
    grid-column: 2/8;
    grid-row: 4/6;

     z-index: 1;
}


.venue{
    text-align: right;
   font-size: 2rem;
    grid-column: 6/8;
    grid-row: 3/4;
     z-index: 1;
}
.se_mere{

    text-align: left;
    text-decoration: underline;
    font-size: 2rem;
    grid-column: 2/8;
    grid-row: 6/7;

     z-index: 1;

}

.pris{
    align-self: flex-end;
    font-size: 2.5rem;
    grid-column: 2/4;
    grid-row: 7/8;
     z-index: 1;
}
.knap_link{
    z-index: 1;
    grid-column: 6/8;
    grid-row: 7/8;

}
.kob_knap{

    border-radius: 5px;
    border: solid 1px white;
    font-family: "AvenirNext";
    background-color: rgba(223, 242, 253, 0.04);
    color: white;
    z-index: 1;

    width: 100%;
    height: 100%;
    font-size: 2rem;

}

.kob_knap:hover{
        border: solid 1px rgba(223, 242, 253, 0.68);

    background-color: rgba(223, 242, 253, 0.68);
    color: black;
    cursor: pointer;


}

.event_item{
    display: inline-block;
}

.event_item:hover{
    cursor: pointer;
    color: aqua;

}







/*MEDIA QUERIES*/

@media screen and (min-width: 700px) {


    :root{


    }

    .event_kalender{

        grid-template-columns: 1fr 1fr;
    }
    .event_con{

        width: 50vw;
        height: 50vw;
    }

}


@media screen and (min-width: 1000px) {


    :root{


    }

    .event_kalender{

        grid-template-columns: 1fr 1fr 1fr;
    }
    .event_con{

        width: 33.3vw;
        height: 33.3vw;
    }

}

@media screen and (min-width: 1200px) {

    .kalender_container{

        width: 100%;
         display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-areas:
            ". main ."
    }


    :root{

        font-size: 50%;
    }

    .event_kalender{

        grid-area: main;

        max-width: 1240px;
        align-self: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;


    }
    .event_con{

        width: 310px;
        height: 310px;
    }

}

